:root{
    --AzulTec: #2196F3;
    --Azul-Escuro: #00008B;
    --branco-off-white: #B0BEC5;
    --verdeBio: #4CAF50;
    --laranja-citrico: #FF4500;    
    --laranja-neon: #FF8C00;      ;  
    --Cinza: #7D7D7D;
    --Cinza-charcoal: #333333;
    --Cinza-carbono: #2C2C2C;
    --Cinza-antracite: #1C1C1C;
    --branco-algodao: #F5F5F5;
    --branco-frio: #F8F8FF;
    --branco-off-white: #FAF9F6;
    --branco-gelo: #E8E8E8;
    --preto-suave: #333333;    
    --preto-carbono: #1C1C1C;
    --preto-azulado: #2B2B2B;
}